<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="../elements/header (title='Home')"></head>

<body>
  <nav th:replace="../elements/navbar"></nav>

  <div class="wrapper">
    <div class="jumbotron  bg-twitter">
      <div class="container">
        <h1><i class="fa fa-twitter"></i> <strong>autoChirp</strong> welcomes You</h1>
        <p>Hi there, I'm autoChirp and I'll assist You scheduling the spread of Your words!</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
				<div class="col-md-6">
					<h3>Scheduling, Imports and much more</h3>
					<p class="text-justify">
						autoChirp is a small and easy-to-use webapplication to ease the scheduled publication of Your Tweets.
						You don&apos;t have to worry about missing relevant dates as Your stepmothers birthday anymore,
						just schedule a Happy-Birthday-Tweet within autoChirp and get back to Your daily life.
					</p>
					<p class="text-justify">
						If You&apos;re a power-user, upload a bunch of Tweets from Your desktop or GoogleDrive:
						Just follow the markup-guidlines describing the creation of a Tweet-table or clone the
						predefined GoogleDrive Spreadsheet, input Your data and import the file - et voil&agrave;!
					</p>
					<p class="text-justify" th:text="${'Further, autoChirp empowers You to fit more content into Your Tweets by providing the possibility to automagically convert Your longer-than-' + maxTweetLength + '-character-Tweets into an image.
						So whenever You send out an overlength Tweet, remember: You couldn'&apos;t, without autoChirp.'}">	
					</p>
					<p class="text-justify">
						And of course: Much more!
					</p>
				</div>
        <div class="col-md-6 twitter-widget">
          <h3>Recent Tweets by autoChirp</h3>
					<div th:utext="${recentTweets}"></div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="../elements/footer"></footer>
  <div th:replace="../elements/scripts"></div>
</body>

</html>
